body{
    background: rgb(247, 105, 2);
}

h1{
    text-align: center;
    font-weight: bold;
    color: white;
}

h2{
    text-align: center;
    font-style: italic;
    color: white;
}

img{
    background-color: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    height: 25%;
}