body{
    background: rgb(247, 105, 2);
}

h1{
    text-align: center;
    font-weight: bold;
    color: white;
}

h2{
    text-align: center;
    font-style: italic;
    color: white;
}

img{
    background-color: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    height: 25%;
}

.navbar ul{
    list-style-type: none;
    background-color: white;
    padding: 0px;
    margin: 0px;
}

.navbar a{
    color: rgb(247, 105, 2);
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}

.navbar a:hover{
    background: rgb(208, 211, 212);
}